# [user]
#    name = ***
#    email = ***@***.***
[core]
    autocrlf = false
    quotepath = true
    precomposeunicode = true
    preloadindex = true
    excludesfile = ~/.gitignore_global
[alias]
    # tree = "log --graph --all --format='%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s'"
    tree = "log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'"
    rename-remote-branch = "!f(){ git checkout -b $2 $1/$2; git branch -m $3; git push $1 $3 :$2; }; f"
    rename-remote-tag = "!f(){ git tag $3 $2; git push $1 $3 :$2; git tag -d $2; }; f"
    word-diff = "diff --word-diff-regex='[^\\x80-\\xbf][\\x80-\\xbf]*' --word-diff=color"
    # word-diff = "diff --word-diff-regex='\\w+' --word-diff=color"
[push]
    default = nothing
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
    tool = Kaleidoscope
[difftool]
    prompt = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false
[merge]
    tool = Kaleidoscope
[include]
    path = ~/.gitconfig_local
[init]
    templatedir = ~/.git_template
